/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .teams {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .main {
    color: #00b7ff;
  }

  .main h1 {
    font-size: 32px;
  }
  
  .main h3 a {
    color: #00b7ff;
  }

  .heading h1 {
    font-size: 20px;
  }

  .teams-wrapper {
    height: auto;
  }

  footer img {
    width: 100px; 
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .teams {
    width: 100%;
  }
  
  .btn {
    width: 100%;
  }
  
  .top-wrapper {
    text-align: left;
  }

  .teams-wrapper {
    height: auto;
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .main {
    color: #21fb00;
  }

  .main h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .main h2 {
    font-size: 20px;
  }
  
  .main h3 a {
    font-size: 18px;
    color: #21fb00;
  }

  .detail {
    width: 100%;
  }

  .detail-left {
    width: 80%;
    font-size: 12px;
  }

  .detail-right {
    width: 80%;
    font-size: 12px;
  }

.detail-img {
    padding: 15% 0;
  }

  .btn-submit {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }

  footer img {
  width: 75px; 
  }
}
