* {
  box-sizing: border-box;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=135913),default;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5f5d60;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
span{
  color: rgb(135, 88, 0);
  font-size: 30pt;
  font-weight: bold;
}

/* -----------header------------ */
header {
  height : 65px;
  width : 100%;  
  background-color : rgba(34, 49, 52, 0.9);  
  position : fixed;
  top : 0;
  z-index : 10;  
}
.logo {
  width : 200px;
  margin-top : 10px;
}

.header-left {
  float : left;
  padding-left: 25px;
}

.header-right {
  float : right;
  background-color : rgba(34, 49, 52, 0.3); 
  transition : all 0.5s;
}

.header-right:hover {
  background-color : rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height : 65px;
  padding-left : 25px;
  padding-right : 25px;
  color : white;
  display : block;
  font-family: Rajdhani,sans-serif;
}
/* ----------main----------- */
.main{
  font-family: Rajdhani,sans-serif;
}
.main h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  text-shadow: 2px 2px black;
}

.main h2 {
  opacity: 0.7;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow: 2px 2px black;
}
.main h3 {
  opacity: 0.9;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 45px;
  text-shadow: 2px 2px black;
}
.main {
  padding: 180px 0 100px 0;
  background-image: url("https://scx2.b-cdn.net/gfx/news/hires/2018/darkenergy.jpg");
  background-size: cover;
  color: white;
  text-align:center;
  opacity: 0.85;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  /* Ubah nilai border-radius ke 4px */
  border-radius:4px;
}
.btn:hover{
  opacity:1;
}
.j13-a:hover {
  color: rgb(0, 183, 255);
}
.j13-b:hover {
  color: rgb(255, 123, 0);
}
.j13-c:hover {
  color: rgb(102, 255, 0);
}
.j13-d:hover {
  color: rgb(255, 0, 221);
}
.j13-e:hover {
  color: rgb(255, 0, 55);
}

.go {
  background-color: #0093FB;
}

/* ----------extra----------- */
.heading {
  padding-bottom:30px;
  color: #4a4a4a;
  text-align: center;
  padding:10px 0 30px 0;
}

.heading h1 {
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.teams-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  height: 500px;
  text-align: center;
}

.teams {
  float: left;
  width: 20%;
  font-family: 'Courier New', Courier, monospace;
}

.teams-icon {
  position: relative;
}

.teams-icon img{
  height: 200px;
  transition: 1s;
}

.teams-icon img:hover{
  height: 220px;
  transition: .2s;
  border-radius: 110px;
  box-shadow: 2px 2px 20px #5b5b5b;
}

.teams-name {
  color: #2c2c2c;
  margin : 10px 0;
}
.teams p{
  color:#5f5d60;
  margin: 0 auto;
}





.detail-wrapper{
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("./img/contact-bg.jpg");
  background-size: 100vw;
  background-attachment: fixed;}
.detail{
  width: 100%;
  border-radius: 10px;
  transition: 1s;
  margin:15px
}
.detail:hover{
  box-shadow: 2px 2px 10px #7e7e7e;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;  
}
.detail-img{
  padding:7% 0;
}
.detail-img img{
  margin:15px;
  height: 100px;
}

/* --------left-------- */
.detail-left{
  display: inline-block;
  background-image: linear-gradient(-45deg, #93a5cf 0%, #e4efe9 100%);
  width: 87%;
  float: right;
  border-left: 1.5px solid #858585;
  border-radius: 0 10px 10px 0;
  padding-left:20px;
  padding: 20px;
  margin:15px 15px 15px 0;
}
.detail-left h2{
  border-bottom: 1px solid #858585;
  padding-bottom: 20px;
  margin-top: 0;
}
.detail-left h2 i{
  transition: 1s;
  margin-left:10px;
  color: #000000;
}

/* --------right-------- */
.detail-right{
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  width: 87%;
  float: left;
  text-align: right;
  border-right: 1.5px solid #858585;
  border-radius: 10px 0 0 10px;
  padding: 20px;
  margin:20px;
  margin:15px 0 15px 15px;
}
.detail-right h2{
  border-bottom: 1px solid #858585;
  padding-bottom: 20px;
  margin-top: 0;
}
.detail-right h2 i{
  transition: 1s;
  margin-right:10px;
  color: #000000;
}
h2 i:hover{
  transition: 0.3s;
  border-radius: 20px;
  text-shadow: 2px 2px 10px #000000;
  color: rgba(255, 255, 255, 0.823);
}
/* -------------- */

.detail-content{
  margin-top: 10px;
}
.detail-content p, .detail-content h4{
  margin:0;
}


.contact-wrapper{
  align-self: center;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  text-align: center;
}
.contact-form h3{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom:15px;
  margin-bottom:50px;

}
input, textarea{
  border: 1px solid #dee7ec;
  width:50%;
  padding:10px;
  margin:0px 0 25px 0;
  border-radius: 10px;
  font-size: 18px;
  transition: .5s;
}
.btn-submit{
  margin-top: 20px;
  background-image: linear-gradient(-180deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  color: #545454;
  width: 25% !important;
  border-radius: 5px;
}
input:hover, textarea:hover{
  box-shadow: 1px 5px 5px #7e7e7e;
  transition: .1s;
}

/* --------footer--------- */
footer img {
  width: 150px;
  align: center;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}